/* Channel navigation */

.channel-nav {
    background-color: #fafafa;
    padding-bottom: 0.5rem;
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;

}

.channel-nav ul {
    display: flex;

}

.channel-nav li a{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--grey-text);
    padding: 1.5rem 3.2rem;
    &.current {
        color: #828282;
        border-bottom: 0.3rem solid #6e6e6e;
    }

    &:hover {
        color: #828282;
    }
}